:root{
    --primary-color:#000814;
    --primary-color:#003049;
    --primary-color:#000000;
}

.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--primary-color);
}
.bg-tertiary{
    background-color: var(--primary-color);
}

body{
    background-color: var(--primary-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--primary-color);
}

.bg-tertiary{
    background-color: var(--primary-color);
}